@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding-bottom: 20px;
}

.header-nav {
    display: flex;
    gap: 30em;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.links a {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    padding-left: 25px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19em;
    margin-top: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.sec-text {
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
}

.main-btn button {
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    border-radius: 2%;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.main-img img {
    border-radius: 8%;
}

.info {
    margin-bottom: 50px;
}

.info-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 35px;
}

.groups {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.groups .group-img {
    display: flex;
    flex-direction: column;
    width: 160px;
    text-align: center;
    color: #1F2937;
}

.groups img {
    margin-bottom: 5px;
    border: 3px solid #F9FAF8!important;
    border-radius: 5%;
}

.quote {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.quote-box .quote-by {
    text-align: right;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.quote .quote-txt {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sign-up .sign-up-content {
    background-color: #3882F6;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    gap: 11em;
    border-radius: 12px;
}

.sign-up-info {
    color:#F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.sec-text-sign {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.sign-up-btn button {
    background-color: #3882F6;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #F9FAF8;
    font-size: 20px;
    border-radius: 10px;
    color: #F9FAF8;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    flex: 1 0 auto;
}